{% extends 'ai/base.html' %}
<!-- body -->
{% load staticfiles %}

{% block body %}
          <div class="row">
            <div class="col-md-8 pt-4" id="about">
              <h2>Apply for PhD</h2>
              <p>The Centre for AI invites applications for PhD in the
                areas of Artificial Intelligence and Machine Learning.<br>
                Apply now at&nbsp;&nbsp; <a
                  href="http://www.iitkgp.ac.in/phd">http://www.iitkgp.ac.in/phd</a><br>
                <br>
                You will have the opportunity to participate in
                high-quality research in <br>
              </p>
              <ul>
                <li> AI Algorithms </li>
                <li>Thematic Areas </li>
                <li> Impactful Projects </li>
              </ul>
              <h2>Certificate Course<br>
              </h2>
              <p>Coming soon!&nbsp; <br>
                <font color="#0000ff">Introduction to Artificial
                  Intelligence and Machine Learning</font><br>
                A 6 month weekend certficate course from Kolkata and
                Bengaluru<br>
              </p>
            </div>
          </div>          
          <br>
          <br>
{% endblock %}