{% extends 'ai/base.html' %}
{% block body %}
    <div align="center">
        <div class="text-center border border-dark p-4">
        <p>Congratulations! Your application for IIT Kharagpur’s Certificate Course in Artificial Intelligence & Machine Learning is received.  
        <br>
            As next step, our selection committee representative shall reach out to you for a telephonic interview. Or you can reach out to them
            <br>
            enquiry@coeai.iitkgp.ac.in | Utkarsh @ 8978399225 | XYZ @ 223848848 | ABC @3u20320323
            </p>
        </div>
    </div>
{% endblock %}