{% extends 'ai/base.html' %}
<!-- body -->
{% block body %}
          <div class="row">
            <div class="col-md-8 pt-4" id="about">
              <h2 class="sub-head">Welcome To The Centre for Artificial
                Intelligence</h2>
              <div class="about">
                <p><br>
                  The Centre for Artificial Intelligence (CAI)
                  in IIT Kharagpur has been set up in
                  April 2018 in recognition of the increasing importance
                  of the role of Artificial Intelligence. It leverages
                  more than three decades of research and contribution
                  of IIT Kharagpur in fundamental and applied AI. AI and
                  ML are playing a transformational role in every sphere
                  of human endeavour, and requires to be nurtured by
                  talent and an ecosystem of innovation.<br>
                </p>
                <p>The Centre has been seed-funded by a grant from
                  Capillary Technologies.<br>
                </p>
                <p> Our GOAL is to make impactful contributions to Industry
                  and Society.</p>
                <p>The Centre's charter is to focus activity on the FOUR
                  quadrants of Research, Teaching, Industry Projects and
                  Entrepreneurship.<br>
                </p>
              </div>
            </div>
            <div class="col-md-4 border-left border-dark pt-4"
              id="intro">
              <h3 class="pl-4" style="color:#2f5496;">Head of the Centre<br>
              </h3>
              <!-- <hr> -->
              <div class="">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item font-weight-bold sub-head"><a
                      href="http://cse.iitkgp.ac.in/%7Esudeshna">Prof.
                      Sudeshna Sarkar</a></li>
                  <li class="list-group-item"><span
                      class="font-weight-bold pr-4 sub-head">Office
                      phone:</span> 03222-282256</li>
                  <li class="list-group-item"><span
                      class="font-weight-bold pr-4 sub-head">Email:</span>
                    sudeshna@cse.iitkgp.ac.in, shudeshna@gmail.com</li>
                  <li class="list-group-item"><span
                      class="font-weight-bold pr-4 sub-head">Fax:</span>
                    03222-278985</li>
                  <!-- <li class="list-group-item"></li> -->
                </ul>
              </div>
              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->
            </div>
          </div>
          <br>
          <br>
          <div class="container-fluid">
            <div class="card rounded shadowCard">
              <div class="card-header" style="background-color:#efe251;font-family: Monospace;"> <h2>Notice Board</h2></div>
              <div class="card-body">
                <ul class="list-group list-group-flush" style="max-height : 300px; overflow-y: auto;">
                  {% for notice in object_list.notice_list %}
                    <li class="list-group-item">
                      <p>
                        <b>{{ notice.topic }}</b> : {{ notice.message}}
                        {% if notice.link %}
                          <a href="{{ notice.link }}"><i> link </i></a>
                        {% endif %}
                      </p>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <br>
          <br>
          <div class="container cardW">
            <div class="row">
              <div class="card-group container">
                <div class="card border-dark">
                  <div class="card-body">
                    <h5 class="card-title text-center sub-head">Research</h5>
                    <p class="card-text"> </p>
                    Conduct world class research in AI and ML
                    <ul>
                      <li> Foundational research </li>
                      <li> Important applications </li>
                    </ul>
                  </div>
                </div>
                <div class="card border-dark">
                  <div class="card-body">
                    <h5 class="card-title text-center sub-head">Industry
                      Projects</h5>
                    <p class="card-text"> </p>
                    <ul>
                      <li>Foster strong industry-academic synergy for AI
                        adoption </li>
                      <li> Impactful projects with industry and
                        government </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="card-group container ">
                <div class="card border-dark">
                  <div class="card-body">
                    <h5 class="card-title text-center sub-head">Teaching</h5>
                    <p class="card-text"> </p>
                    State-of-art AI courses, training andworkshops<br>
                    <ul>
                      <li>Catering to our students <br>
                      </li>
                      <li> Outreach programs for learning and reskilling
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="card border-dark">
                  <div class="card-body">
                    <h5 class="card-title text-center sub-head">Incubation</h5>
                    <p class="card-text"> </p>
                    <ul>
                      <li> Provide platform for incubation </li>
                      <li> Support deep technology based
                        entrepreneurship </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <br>
{% endblock %}