{% extends 'ai/base.html' %}
{% block body %}
<h2 class="text-center"><span class="ttl">Join Us</span></h2>
<br><br>
<div align="left">
<table width="100%" cellspacing="4" cellpadding="4" border="0">
    <tbody>
    <tr>
        <td valign="top"><b><font color="#0000ff">Faculty</font></b><br>
        </td>
        <td valign="top">We are looking for bright candidates
        for faculty at the Centre for AI.&nbsp; We will
        provide excellent professional support. Join us to
        make an impact.<br>
        <a href="mailto:sudeshna@cse.iitkgp.ac.in">Contact
            us.</a> <br>
        Apply <a href="https://erp.iitkgp.ac.in/FacultyCareer/advtFacultyRecruitment.jsp">here</a><br>
        </td>
    </tr>
    <tr>
        <td valign="top"><b><a href="http://www.iitkgp.ac.in/pdf">Postdoctoral
            Fellow</a></b><br>
        </td>
        <td valign="top">If you have a PhD in the area of AI
        and are engaged in exciting research, we offer an
        excellent opportunity for postdoctoral research.<br>
        <a href="mailto:sudeshna@cse.iitkgp.ac.in">Contact
            us</a>. <br>
        Apply <a href="https://erp.iitkgp.ac.in/PDFApplications/Login.jsp">here</a>.<br>
        </td>
    </tr>
    <tr>
        <td valign="top"><a href="images/CoE-AI-IITKgp-PhD%20Poster.pdf"><b>PhD


            studen</b><b>t</b></a><br>
        </td>
        <td valign="top">We are looking for PhD students to
        work in AI and ML. Apply <a href="https://erp.iitkgp.ac.in/IITKGPApplications/index">here</a>.<br>
        </td>
    </tr>
    <tr>
        <td valign="top"><b><a href="staff.html">Scientific
            and Engineering Staff</a></b><br>
        </td>
        <td valign="top">Positions available:<br>
        Engineering Manager<br>
        Research Consultant (Machine Learning Research
        Engineer)<br>
        <a href="mailto:coeai.iitkgp@gmail.com">Contact
            us.</a> <br>
        </td>
    </tr>
    <tr>
        <td valign="top"><br>
        </td>
        <td valign="top"><br>
        </td>
    </tr>
    </tbody>
</table>
<br>
</div>
{% endblock %}